<table>
    <tbody>
        <tr>
            <td>{{ content | raw }}</td>
        </tr>
        <tr>
            <td><a href="%unsubscribe_url%">Não receber mais email do Code E-mail Marketing</a></td>
        </tr>
    </tbody>
</table>